.section-with-border {
  margin: 5%;
  position: relative;
  height: 2px;
  overflow: hidden;
}

.section-with-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #006297;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 1.0s ease-out;
}

.section-with-border.animate-line::after {
  transform: scaleX(1);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #87c9dc, #006297);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    font-size: 16px;
    color: #006297;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    margin-left: 2%;
}

.roles {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.role {
    text-align: center;
}

.subtitle {
    font-size: 12px;
    color: #006297;
    font-weight: bold;
    translate: -20%;
}

.name {
    font-size: 12px;
    color: #2A2A2A;
    margin: 0;
    font-weight: normal;
}

.open-page {
    margin-block: 200px;
}

/* Main page card */
.director-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0px auto;
    padding: 25px;
  }
  
  .card-content {
    display: flex;
    gap: 30px;
  }
  
  .director-image {
    max-width: 250px;
    border-radius: 4px;
    flex-shrink: 0;
  }
  
  .director-title {
    color: #444;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
  }
  
  .director-text {
    color: #333;
    line-height: 1.6;
    font-size: 14px;
    text-align: left;
    max-width: 496px;
  }
  
  .director-text p {
    margin: 0;
  }
  
  .director-button {
    display: inline-block;
    background: #0069AA;
    color: white !important;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: 0.3s ease;
  }
  
  .director-button:hover {
    background: #005187;
  }

  .intro-card {
    display: flex;
    align-items: center;
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 8px;
}

.button-right {
    display: flex;
    flex-direction: column-reverse;
}

.content {
  width: 65%;
  max-width: 1000px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.show-more {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

.center {
  display: flex;
  justify-content: space-around;
}

button-more-less {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  border-radius: 5px;
  border: 2.5px solid #006297;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: #006297;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

button-more-less:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
  color: #444;
}

button-more-less:active {
  transform: scale(0.95);
}