/* Font */
@font-face {
  font-family: 'ArponaRegularita';
  src: url('fonts/Fontspring-DEMO-arpona-regularita.woff2') format('woff2'),
       url('fonts/Fontspring-DEMO-arpona-regularita.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArponaSemibold';
  src: url('fonts/Fontspring-DEMO-arpona-semibold.woff2') format('woff2'),
       url('fonts/Fontspring-DEMO-arpona-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ArponaMedium';
  src: url('fonts/Fontspring-DEMO-arpona-medium.woff2') format('woff2'),
       url('fonts/Fontspring-DEMO-arpona-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

logo-font {
  font-family: 'ArponaMedium', sans-serif;
}
logo-font {
  font-family: 'arponasans', sans-serif;
  font-size: 2rem;
  color: white;
  display: list-item;
  list-style: none;
  justify-content: center;
  max-width: 100px;
  line-height: 1;
  margin-block-start: 0em;
  margin-block-end: 0.3em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #444;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.text {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.6;
}

.text-card {
  max-width: 750px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text-card-content {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
}

/* Header and Navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006297;
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  max-height: 80px;
  width: auto;
}

.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 10;
  margin: 0;
  gap: 25px;
}

.navbar ul li {
  position: relative;
}

.navbar ul li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #003366;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1.5s ease, transform 1.5s ease, visibility 1.5s ease;
  min-width: 240px;
  visibility: hidden;
  text-align: left;
}

.navbar ul li:hover .dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.navbar ul li .dropdown li {
  padding: 8px 16px;
}

.navbar ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding: 0px 5px;
  transition: color 0.3s ease;
}

.navbar ul li .dropdown a {
  display: block;
  color: #C1E1E3;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
  text-align: left;
}

.navbar ul li .dropdown a:hover {
  background-color: #0056b3;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  right: 10;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 97%;
  left: 0;
}

.navbar ul li a:not(:hover)::after {
  width: 0;
  right: 3%;
}

.navbar ul li a:hover {
  color: white;
}

.navbar ul li.social-icon {
  padding-left: 0px;
}

.navbar ul li.social-icon a {
  color: white;
  float: right;
  transition: transform 0.3s ease;
}

.navbar ul li.social-icon a:hover {
  transform: scale(1.2);
}

.navbar ul li.social-icon i {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar ul li {
      margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-overlay {
      flex-direction: column;
      align-items: flex-start;
  }

  main {
      margin: 10px 0;
  }
}

.svg-divider {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 0;
}

.svg-divider svg {
  display: block;
  width: 100%;
  height: auto;
}

.svg-divider path {
  fill: #f4f4f9;
}
/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure video stays behind the text */
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #404057;
  font-size: 1.5rem;
  z-index: 1; /* Ensure text is on top */
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 1.5rem;
}

/* Card */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2c2c6c;
  margin-bottom: 20px;
  line-height: 1.4;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  color: #2c2c6c;
  margin-top: 30px;
}

.card p {
  font-size: 16px;
  color: #555555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card .btn-primary {
  background-color: #2c2c6c;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.card .btn-primary::before {
  content: "➜";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: white;
  transition: left 0.3s ease;
}

.card .btn-primary:hover {
  background-color: #1a1a4c;
  padding-left: 40px;
}

.card .btn-primary:hover::before {
  left: 10px;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Curved Overlay */
.hero-curve {
  position: absolute;
  top: 800px;
  left: 0px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-top: -5px;
  z-index: 1;
}

.hero-curve svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(1px);
}

/* General Button Style */
.btn-primary {
  background: linear-gradient(45deg, #003366, #0056b3);
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: linear-gradient(45deg, #0056b3, #003366);
  color: #FFD700;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 86, 179, 0.8);
}

/* Section Styles */
.section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #003366;
  margin-bottom: 10px;
  font-size: 28px;
}

.section p {
  line-height: 1.8;
}

/* School Info Section */
.school-info {
  background-color: #f9f9f9;
  padding: 20px 20px;
  text-align: center;
}

.school-info-container {
  display: flex;
  justify-content: space-evenly;
  gap: 0px;
  flex-wrap: nowrap;
  text-align: left;
}

.school-info-container div {
  flex: 0 0 auto;
  padding: 0 5px;
  min-width: 200px;
}

.school-info h3 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.school-info p {
  font-size: 1.0rem;
  line-height: 1.8;
}

.normal-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #000000;
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 0px 15%;
  text-align: justify;
}

.mid-text {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #333;
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 10px 15%;
  text-align: justify;
  font-weight: 700;
}

.bigger-text {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #333;
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  font-weight: 750;
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-container {
  flex: 2;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

/* Animated Button */
.animated-button {
  position: relative;
  display: inline-grid;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  font-weight: 600;
  color: #006297;
  box-shadow: 0 0 0 2px #006297;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #006297;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #006297;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #ffffff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #ffffff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #006297;
}

.animated-button:hover .circle {
  width: 250px;
  height: 250px;
  opacity: 1;
}

/* Reset styles */
body, h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
}

header {
  padding: 20px 0;
  background: #333;
  color: #fff;
}

.highlight-section {
  position: relative;
  margin: 100px 0;
  text-align: center;
}

.big-text {
  font-size: 2.0rem;
  font-weight: bold;
  color: #006297;
  display: inline-block;
  position: relative;
}

.big-text::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 13px;
  background-color: #006297;
  bottom: -10px;
  left: 0;
  transition: width 1.0s ease-in-out;
}

.big-text.visible::after {
  width: 100%;
}

/* Image cards */
#new-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 13px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

#new-cards-container .custom-card {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#new-cards-container .custom-card svg {
  fill: #000;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
}

#new-cards-container .custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #f2f2f2;
  color: #ffffff;
}

#new-cards-container .custom-card__content {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#new-cards-container .custom-card:hover .custom-card__content {
  transform: rotateX(0deg);
}

.custom-card__title {
  font-size: 20px;
  font-weight: bold;
  color: #003366;
  margin-bottom: 10px;
}

#new-cards-container .custom-card:hover svg {
  scale: 0;
}

#new-cards-container .custom-card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #C1E1E3;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

@media (max-width: 1530px) {
  .navbar {
    display: none;
  }

  .burger {
    display: block;
  }
}

/* Burger Styling */
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
  z-index: 1001;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* Full-Screen Section */
.fullscreen-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 98, 151, 0.95);
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

#burger:checked ~ .fullscreen-section {
  display: flex;
  opacity: 1;
}

@media (max-width: 1530px) {
  .navbar {
    display: none;
  }

  .text-card-content {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
  }

  .school-info {
    display: none;
  }

  .image-container {
    display: none;
  }

  .card-section {
    flex-wrap: wrap;
  }

  logo-font {
    font-family: 'arponasans', sans-serif;
    font-size: 2rem;
    color: white;
    display: list-item;
    list-style: none;
    justify-content: center;
    max-width: 100px;
    line-height: 1;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    transform: translate(-57%, 0%);
}

  .burger {
    display: block;
  }
}

.fullscreen-navbar {
  margin-bottom: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.fullscreen-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fullscreen-navbar li {
  position: relative;
}

.fullscreen-navbar a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.fullscreen-navbar a:hover {
  color: #FFD700;
}

.fullscreen-navbar .dropdown {
  display: none;
  top: 100%;
  left: 0;
  background-color: #003366;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  z-index: 1001;
}

.fullscreen-navbar .dropdown li {
  margin: 5px 0;
}

.fullscreen-navbar .dropdown a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  display: block;
  text-align: left;
}

.fullscreen-navbar li:hover .dropdown {
  display: block;
}

.card-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.cards-multiple {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.cards-multiple h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cards-multiple p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.cards-multiple button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.card-one {
  border-top: 4px solid #006297;
}

.card-two {
  border-top: 4px solid #64b5f6;
}

.card-three {
  border-top: 4px solid #006297;
}